.header{
    background-color: rgb(0, 136, 255);
    justify-content: space-around;
    display: flex;
    width: 1440px; height: 84;
    border-bottom: 1px;
}

.body{
    margin: 0px;
}

.t1 {
    padding: 0px 10px;
    font-size: 70px 32px;
}

.t2 {
    font-size: 71px 32px;
}

.nav {
    display: flex;
}

.t3{
    font-size: 106px 24px;
    font-family: monospace;
}

.t4{
    font-family: Arial, Helvetica, sans-serif;
}

.Hero{
    width: 1440px; height: 470px;
}

.homepadge{
    display: inline-block;
}

._content{
    width: 1320px; height: 297px;
}